<div class="button-row">
    <button mat-raised-button color="warn" (click)="addNew()">Add Post</button>
</div>

<div *ngIf='objArray.length>0;then postList else noPost'>


</div>

<ng-template #postList>
    <mat-list>
        <mat-list-item *ngFor="let post of objArray; let i = index">
            {{i+1}} {{post.title}}
            <button (click)="onDelete(i)"><mat-icon color="warn">delete</mat-icon></button>
        </mat-list-item>
    </mat-list>        
</ng-template>
<ng-template #noPost>
    <p>There is no data to show</p>
</ng-template> 


    

