<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Id</th>
        <th scope="col">Post Id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of myPosts | async; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{post?.userId}}</td>
        <td>{{post?.id}}</td>
        <td>{{post?.title}}</td>
        <td>{{post?.body}}</td>
      </tr>
    </tbody>
  </table>